* {
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.lista-menu {
    list-style: none;
    width: 20%;
    height: 30px;
    border: 2px solid hsl(0, 80%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(170, 80%, 80%);
}

.lista-menu:hover {
    background-color: hsl(180, 100%, 60%);
}

.lista-menu-link {
    text-decoration: none;
    color: hsl(0,100%,0%);
}